.candles {
  text-align: center;
}

/* the below code highlights selected text  */
::selection {
  background-color: goldenrod;
  color: #f1f1f1;
}

/* creates a large first character */
.dropcap {
  float: center;
  font-size: 400%;
  color: #cf142b;
  margin: -13px -8px -13px 0;
}

.polaroid {
  /* width: 80%; */
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  text-align: center;
  padding: 10px 20px;
}

.contrast {
  -webkit-filter: contrast(180%);
  filter: contrast(180%);
}

.saturate {
  -webkit-filter: saturate(7);
  filter: saturate(7);
}
